.testimonial {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5rem;
  grid-auto-columns: 1fr;
  margin: 10rem 10rem 5rem;
  position: relative;

  &__menu {
    display: flex;
    flex-direction: column;
    width: 23rem;
    grid-gap: 1rem;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__card {
    display: flex;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    position: relative;
    padding: 1.5rem;
    border: 0.1rem solid #f3f2f1;
    border-radius: 0.75rem;
    min-width: 100%;
    user-select: none;
    touch-action: none;
    z-index: 50;
    transition: all 0.5s ease;

    &--image {
      width: 40%;
    }

    &--details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &--logo {
      height: 3.5rem;
      margin-bottom: 0.5rem;
    }

    &--review {
      color: $color-secondary !important;
      font-style: italic;
    }

    &--author {
      margin-top: 1rem;
    }

    &--quotes {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__swiper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    position: absolute;
    bottom: 0;
    left: 0;

    &--wrapper {
      display: flex;

      &-btn {
        width: 2rem;
        height: 2rem;
        padding: 0.3rem;
        margin: 0 0.5rem;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: 5rem;
      }
    }
  }
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: $color-secondary;
  opacity: 0.5;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 0.9rem;
  cursor: pointer;
  transition: all 0.5s;

  &:last-child {
    margin: 0;
  }
}

.dots__dot--active {
  background-color: $color-secondary;
  width: 1.5rem;
  border-radius: 0.5rem;
  opacity: 1;
}
