%heading {
  color: $color-secondary;
  font-family: urbanist, Arial, sans-serif;
}

.heading-1 {
  @extend %heading;
  font-size: 5rem;
  font-weight: 900;
}

.heading-2 {
  @extend %heading;
  font-size: 3.8rem;
  font-weight: 600;
}

.heading-3 {
  @extend %heading;
  font-size: 2rem;
  font-weight: 600;
}

.heading-4 {
  @extend %heading;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.heading-5 {
  @extend %heading;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  text-decoration: none;
}

.heading-6 {
  @extend %heading;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.heading-7 {
  @extend %heading;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.4;
  color: $color-white;
}

%text {
  font-family: urbanist, Arial, sans-serif;
  color: $color-gray-3;
}

.text-1 {
  @extend %text;
  font-size: 1.25rem;
}

.text-2 {
  @extend %text;
  font-size: 1.125rem;
}

.text-3 {
  @extend %text;
  font-weight: 900;
  color: $color-secondary;
}

.text-4 {
  @extend %text;
  font-size: 0.8rem;
  color: $color-secondary;
}

.text-5 {
  @extend %text;
  font-weight: 700;
}

.text-6 {
  @extend %text;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.text-7 {
  color: $color-gray-3;
  text-decoration: none;
}

.text-8 {
  color: $color-gray-3;
  text-decoration: none;

  &-active {
    color: $color-secondary !important;
    font-weight: 700;
  }

  &:hover {
    text-decoration: underline;
  }
}
