@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: urbanist, Arial, sans-serif;
}

body {
  line-height: 1.5;
}

.container {
  position: relative;
}

.hidden {
  display: none;
}

.slideAnimation {
  opacity: 0;
  transform: translateX(100rem);
  transition: all 2s;
}
.slideAnimation-active {
  opacity: 1;
  transform: translateX(0);
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  font-family: urbanist, Arial, sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  border-radius: 0.8rem;
  margin: 0 0.5rem;
}
.btn__outline {
  background-color: transparent;
  color: #0d284f;
  border: 0.05rem solid #0d284f;
  display: flex;
  align-items: center;
}
.btn__outline-long {
  padding: 0.7rem 2.5rem;
}
.btn__outline-short {
  padding: 0.9rem 1.5rem;
}
.btn__outline img {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.btn__outline:hover {
  background-color: #0d284f;
  color: #fff;
  filter: brightness(90%);
}
.btn__orange {
  background-color: #f07642;
  color: #fff;
  border: none;
  position: relative;
}
.btn__orange-long {
  padding: 0.7rem 2.5rem;
}
.btn__orange-short {
  padding: 0.9rem 1.5rem;
}
.btn__orange-label {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  font-size: 0.55rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  padding: 0.05rem 0.4rem;
  border-radius: 2rem;
}
.btn__orange:hover {
  filter: contrast(130%) brightness(90%);
  color: #fff;
}

.label {
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
}
.label-blue {
  color: #76b4ea;
  background-color: #f4faff;
}

.cta {
  padding: 5rem 10rem;
}
.cta .cta__main, .cta .cta__quote {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #76b4ea;
  border-radius: 1rem;
}
.cta__quote {
  background-image: url(../img/cta-bg1.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__quote--text {
  position: relative;
  max-width: 75rem;
}
.cta__quote--text h1 {
  width: 100%;
  text-align: center;
  padding: 4rem 7rem;
}
.cta__quote--text svg {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 2.5rem;
  left: 4rem;
}
.cta__main {
  background-image: url(../img/cta-bg2.png);
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
  padding: 3.5rem 6rem;
}
.cta__main--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 1rem;
}
.cta__main--text h1 {
  font-weight: 900;
  font-size: 2.5rem;
  width: 40rem;
  line-height: 1.2;
}
.cta__main--text p {
  color: #fff;
}
.cta__main--text a {
  margin-top: 1rem;
}
.cta__main--list {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.cta__main--list-item {
  display: flex;
  align-items: center;
}
.cta__main--list-item svg {
  margin-right: 1rem;
}

.feature {
  padding: 0 10rem;
}
.feature__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2.5rem 0 5rem 0;
  grid-gap: 1rem;
}
.feature__menu h1 {
  max-width: 53rem;
}
.feature__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin-bottom: 5rem;
}
.feature__content--img {
  position: relative;
}
.feature__content--img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 50;
  position: relative;
}
.feature__content--img video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.feature__content--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.feature__content--container-title {
  margin: 1rem 0;
}
.feature__content--container-btn {
  margin: 3rem 0;
}
.feature__content--container h1 {
  width: 38rem;
}
.feature__content--container p {
  width: 38rem;
  margin-bottom: 1.5rem;
}
.feature__content--list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.feature__content--link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.feature__content--link img {
  filter: contrast(200%);
  margin-right: 0.25rem;
}
.feature__content--link span {
  color: #0d284f;
  font-weight: 600;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.footer {
  padding: 0 10rem;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-gap: 2rem;
  padding-bottom: 5.5rem;
}
.footer__top--logo {
  display: flex;
  grid-gap: 2.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__top--logo-linkedin {
  display: flex;
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  color: black;
}
.footer__top--logo-linkedin svg {
  width: 1.5rem;
}
.footer__top--menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  grid-gap: 5rem;
}
.footer__top--group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 0.8rem;
  max-width: 18rem;
  min-width: 8rem;
}
.footer__top--title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0d284f;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(247, 254, 255), #fff);
}
.hero__menu {
  margin-top: 2.5rem;
  text-align: center;
  line-height: 2.3rem;
}
.hero__menu--sub {
  line-height: 5.3rem;
}
.hero__btn {
  margin-top: 2rem;
  text-align: center;
}
.hero__btn--group {
  display: flex;
  align-items: center;
}
.hero__btn p {
  color: rgb(87, 101, 121);
  margin-top: 1rem;
}
.hero__img {
  margin-top: 2.5rem;
  position: relative;
}
.hero__img--background {
  width: 80vw;
}
.hero__img--overlay {
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.hero__product {
  position: absolute;
  top: 2rem;
  left: 7rem;
}
.hero__product--img {
  width: 23rem;
  transition: all 0.5s;
  opacity: 0;
  transform: scale(0.7);
}
.hero__product--animation {
  opacity: 1;
  transform: scale(1);
}

.icon {
  margin: 2.5rem 10rem 0 10rem;
}
.icon__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
}
.icon__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.icon__wrap {
  display: flex;
  justify-content: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;
  padding: 0 3rem;
}
.icon__wrap--link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.icon__wrap--link img {
  margin-right: 0.5rem;
}
.icon__wrap--link span {
  color: #0d284f;
  font-weight: 800;
}
.icon__collapse {
  cursor: pointer;
}
.icon__hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 254, 255);
  padding: 0 10rem;
  min-height: 6rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar__menu {
  display: flex;
}
.navbar__list {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.navbar__list--item {
  margin: 0 1rem;
}
.navbar__list--text {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(13, 40, 79);
  text-decoration: none;
  cursor: pointer;
}
.navbar__dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar__dropdown--item {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5rem;
}
.navbar__dropdown--list {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.2);
}
.navbar__dropdown--list-child {
  left: -12rem;
}
.navbar__dropdown--link {
  text-decoration: none;
  color: #0d284f;
  font-weight: 500;
  display: block;
  margin: 1rem;
}
.navbar__dropdown--child {
  display: flex;
}
.navbar__dropdown--child-items {
  margin: 0.5rem 0;
}
.navbar__dropdown--child-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.8rem 0 0.5rem;
  padding: 0.9rem 0.8rem 0.9rem 1.2rem;
  border-radius: 1rem;
  width: 14rem;
}
.navbar__dropdown--child-item svg {
  width: 1.2rem;
  filter: contrast(0%);
}
.navbar__dropdown--child-item:hover {
  background-color: #f1f7fd;
}
.navbar__dropdown--child-item-active {
  background-color: #e4f0fb;
}
.navbar__dropdown--child-item-active p {
  color: #0d284f !important;
}
.navbar__dropdown--child-pad {
  display: flex;
  align-items: center;
}
.navbar__dropdown--child-pad img {
  width: 1.5rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.navbar__dropdown--child-pad p {
  color: #728ea7;
  font-weight: 600;
  font-size: 1rem;
}
.navbar__dropdown--child-line {
  margin: 0.5rem 0;
  border: 0.05rem solid rgba(0, 0, 0, 0.2);
}
.navbar__dropdown--child-list {
  width: 17rem;
}
.navbar__dropdown--child-link {
  text-decoration: none;
  color: #728ea7;
  font-weight: 600;
  display: block;
  padding: 1rem 1rem 1rem 0.6rem;
  margin: 0 0.8rem;
  transition: all 0.5s;
}
.navbar__dropdown--child-link:hover {
  letter-spacing: 0.01rem;
  font-weight: 700;
  color: #0d284f !important;
}
.navbar__dropdown--child-link-border {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.2);
}
.navbar__button {
  display: flex;
  justify-content: space-between;
}

.preview {
  padding-top: 5rem;
}
.preview__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
}
.preview__menu h1 {
  max-width: 50rem;
}
.preview__container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  overflow: hidden;
  transform: scale(1);
}
.preview__content {
  height: 27rem;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
}
.preview__content:hover .preview__card {
  animation-play-state: paused !important;
  transform: translateX(-1rem);
}
.preview__card {
  display: flex;
  position: absolute;
  left: 150%;
  transform: translateX(0);
  transition: all 0.5s ease-out;
  animation: autoRun 24s linear infinite;
}
.preview__card-1 {
  animation-delay: 0;
}
.preview__card-2 {
  animation-delay: 6s;
}
.preview__card-3 {
  animation-delay: 12s;
}
.preview__card-4 {
  animation-delay: 18s;
}
.preview__card--thumbnail-img {
  width: 25rem;
}
.preview__card--styles {
  position: relative;
}
.preview__card--styles-wrapper {
  position: absolute;
  top: -0.5rem;
  left: -1.85rem;
  height: 26.5rem;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 50;
}
.preview__card--styles-content {
  width: 12.2rem;
  transition: all 1.2s;
}
.preview__card--styles-content-active {
  transform: translateY(-35rem);
}
.preview__card--styles-bottom {
  width: 12.5rem;
  position: absolute;
  left: -0.2rem;
  z-index: 100;
  transition: all 0.5s;
}
.preview__card--styles-bottom-active {
  transform: translateY(-23.5rem);
}
.preview__card--styles-bottom-scroll {
  bottom: 0.3rem;
}
.preview__card--styles-bottom-popup {
  top: 25rem;
}
.preview__card--styles-phone {
  width: 13rem;
  position: absolute;
  top: -0.8rem;
  left: -2.3rem;
  z-index: 100;
}
.preview__card--punch-hole {
  background-color: black;
  width: 4.2rem;
  height: 1.2rem;
  border-radius: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  z-index: 100;
}

.qna {
  padding: 5rem 10rem;
}
.qna__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
}
.qna__content {
  margin: 2.5rem 0 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  position: relative;
}
.qna__content--img {
  width: 90rem;
  position: sticky;
  top: 7rem;
}
.qna__content--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}
.qna__content--list {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.qna__content--item {
  box-shadow: 0 0 4px rgba(25, 67, 109, 0.1019607843);
  border: 1px solid #f3f2f1;
  border-radius: 0.75rem;
  max-height: 5rem;
  overflow: hidden;
  transition: all 0.5s ease;
}
.qna__content--item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.qna__content--item-question {
  font-size: 1.25rem;
  font-weight: 900;
  color: #0d284f;
}
.qna__content--item-icon {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s linear;
}
.qna__content--item-answer {
  color: rgb(87, 101, 121);
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.qna__expanded {
  max-height: 50rem;
}

.testimonial {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5rem;
  grid-auto-columns: 1fr;
  margin: 10rem 10rem 5rem;
  position: relative;
}
.testimonial__menu {
  display: flex;
  flex-direction: column;
  width: 23rem;
  grid-gap: 1rem;
}
.testimonial__content {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.testimonial__card {
  display: flex;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  position: relative;
  padding: 1.5rem;
  border: 0.1rem solid #f3f2f1;
  border-radius: 0.75rem;
  min-width: 100%;
  user-select: none;
  touch-action: none;
  z-index: 50;
  transition: all 0.5s ease;
}
.testimonial__card--image {
  width: 40%;
}
.testimonial__card--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonial__card--logo {
  height: 3.5rem;
  margin-bottom: 0.5rem;
}
.testimonial__card--review {
  color: #0d284f !important;
  font-style: italic;
}
.testimonial__card--author {
  margin-top: 1rem;
}
.testimonial__card--quotes {
  position: absolute;
  top: 0;
  right: 0;
}
.testimonial__swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.testimonial__swiper--wrapper {
  display: flex;
}
.testimonial__swiper--wrapper-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  margin: 0 0.5rem;
  background-color: #0d284f;
  color: #fff;
  border-radius: 5rem;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #0d284f;
  opacity: 0.5;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 0.9rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #0d284f;
  width: 1.5rem;
  border-radius: 0.5rem;
  opacity: 1;
}

.heading-7, .heading-6, .heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  color: #0d284f;
  font-family: urbanist, Arial, sans-serif;
}

.heading-1 {
  font-size: 5rem;
  font-weight: 900;
}

.heading-2 {
  font-size: 3.8rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
}

.heading-4 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.heading-5 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
  text-decoration: none;
}

.heading-6 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.heading-7 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.4;
  color: #fff;
}

.text-6, .text-5, .text-4, .text-3, .text-2, .text-1 {
  font-family: urbanist, Arial, sans-serif;
  color: rgb(87, 101, 121);
}

.text-1 {
  font-size: 1.25rem;
}

.text-2 {
  font-size: 1.125rem;
}

.text-3 {
  font-weight: 900;
  color: #0d284f;
}

.text-4 {
  font-size: 0.8rem;
  color: #0d284f;
}

.text-5 {
  font-weight: 700;
}

.text-6 {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.text-7 {
  color: rgb(87, 101, 121);
  text-decoration: none;
}

.text-8 {
  color: rgb(87, 101, 121);
  text-decoration: none;
}
.text-8-active {
  color: #0d284f !important;
  font-weight: 700;
}
.text-8:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
